# Python私房手册-SQL魔术师sqlalchemy

In [1]:
import sqlalchemy as sa

from sqlalchemy.orm import declarative_base, create_session, Session, aliased
from sqlalchemy import create_engine, Column, Integer, String, select, ForeignKey, MetaData, func, union_all, insert, delete

当前版本是1.4.22，使用`future`关键字参数可以使用2.0版本语法，2.0将core和orm方式在查询方面的语法进行了统一，降低了学习难度。另外如果`echo`关键字参数设置为`True`，则会打印语句执行的信息：

In [2]:
engine = create_engine("sqlite+pysqlite:///sqlalchemy_study.db", future=True, echo=True)

## 使用事务和DBAPI

## 元数据

### core方式

In [3]:
metadata_obj = MetaData()

In [4]:
from sqlalchemy import Table, Column, Integer, String
user_table = Table(
    "user_account",
    metadata_obj,
    Column('id', Integer, primary_key=True),
    Column('name', String(30)),
    Column('fullname', String)
)

core方式中，如果要引用列，使用`Table.c`的方式：

In [5]:
user_table.c.name

Column('name', String(length=30), table=<user_account>)

`Table.c`本身是个`ImmutableColumnCollection`对象，有`keys`,`values`和`items`方法：

In [6]:
user_table.c.keys()

['id', 'name', 'fullname']

In [5]:
from sqlalchemy import ForeignKey
address_table = Table(
    "address",
    metadata_obj,
    Column('id', Integer, primary_key=True),
    Column('user_id', ForeignKey('user_account.id'), nullable=False),
    Column('email_address', String, nullable=False)
)

定义了Table对象以后，就可以利用metadata来创建表：

In [8]:
metadata_obj.create_all(engine)

2022-04-05 23:39:55,275 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-05 23:39:55,275 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2022-04-05 23:39:55,275 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-05 23:39:55,291 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2022-04-05 23:39:55,291 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-05 23:39:55,291 INFO sqlalchemy.engine.Engine COMMIT

### orm方式

In [6]:
Base = declarative_base()

In [7]:
from sqlalchemy.orm import relationship


class User(Base):
    __tablename__ = 'user_account'
    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)
    addresses = relationship("Address", back_populates="user")

    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"


class Address(Base):
    __tablename__ = 'address'
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('user_account.id'))
    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

orm方式实际上是对core方式的进一步封装，其模型的`__table__`属性就包含一个Table对象：

In [9]:
User.__table__

Table('user_account', MetaData(), Column('id', Integer(), table=<user_account>, primary_key=True, nullable=False), Column('name', String(length=30), table=<user_account>), Column('fullname', String(), table=<user_account>), schema=None)

使用orm方式不需要显示的定义metadata对象，创建Base实例的时候就已经创建了：

In [10]:
Base.metadata

MetaData()

实际上`declarative_base`是个帮助函数，让我们少些一些代码，实际的过程是这样的:

In [11]:
from sqlalchemy.orm import registry

mapping_registry = registry()
mapping_registry.metadata

MetaData()

In [91]:
Base = mapping_registry.generate_base()

如果已经定义了table对象，再创建模型类可以更简单，`__table__`直接引用table对象即可：
```python
class User(Base):
    __table__ = user_table
    
    addresses = relationship("Address", back_populates="user")

    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"


class Address(Base):
    __table__ = address_table
    
    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"
```

## 操作数据

### 使用core插入行

#### `insert().values()`插入

In [29]:
from sqlalchemy import insert
stmt = insert(user_table).values(name='spongebob', fullname="Spongebob Squarepants")

with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

`result`有个`inserted_primary_key`方法可以查看插入的行的主键很有用：

In [31]:
result.inserted_primary_key

(5,)

批量插入的话直接传入列表：

In [51]:
stmt = insert(user_table).values([{
    "name": "sandy",
    "fullname": "Sandy Cheeks"
}, {
    "name": "patrick",
    "fullname": "Patrick Star"
}])

In [52]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

#### `execute`直接插入

还可以像下面这样：

In [36]:
with engine.connect() as conn:
    result = conn.execute(
        insert(user_table),
        [
            {"name": "sandy", "fullname": "Sandy Cheeks"},
            {"name": "patrick", "fullname": "Patrick Star"}
        ]
    )
    conn.commit()

#### INSERT…FROM SELECT

from_select第一个参数为要插入的列名：

In [15]:
select_stmt = select(user_table.c.id, user_table.c.name + "@aol.com")

insert_stmt = insert(address_table).from_select(
    ["user_id", "email_address"], select_stmt
)

with engine.connect() as conn:
    conn.execute(insert_stmt)
    conn.commit()

#### INSERT…RETURNING

sqlite不支持returning，使用returning时，返回的result对象有一些行可以被获取：

In [17]:
insert_stmt = insert(address_table).returning(address_table.c.id, address_table.c.email_address)
print(insert_stmt)

INSERT INTO address (id, user_id, email_address) VALUES (:id, :user_id, :email_address) RETURNING address.id, address.email_address

### 使用core或orm查询行

#### 创建select表达式

core方式，返回元组：

In [18]:
stmt = select(user_table).where(user_table.c.name == 'spongebob')

with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

(1, 'spongebob', 'spongebob Squarepants')

orm方式，注意返回的是元组，需要用`row[0]`获取User实例，教程说可以使用session.scalars代替execute直接获取实例，但是1.4版本提示没有这个方法，估计2.0才有：

In [39]:
stmt = select(User).where(User.name == 'spongebob')

with Session(engine) as session:
    for row in session.execute(stmt):
        print(row)

(User(id=1, name='spongebob', fullname='spongebob Squarepants'),)
(User(id=2, name='sandy', fullname='Sandy Cheeks'),)
(User(id=3, name='patrick', fullname='Patrick Star'),)

#### COLUMNS和FROM从句

##### 标签

有时候，我们不是直接`select`列名，而是进行一些计算，这些计算被成为SQL表达式，此时可以使用label方法为SQL表达式添加标签，方便后面引用：
```sql
select "Username: " + name from user_account
```

In [ ]:
from sqlalchemy import func, cast

stmt = (
    select(
        ("Username: " + user_table.c.name).label("username"),
    ).order_by(user_table.c.name)
)

with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

##### 文本列表达式

注意text里面的文本还要加一层引号：

In [49]:
from sqlalchemy import text

stmt = (
    select(
        text("'some phrase'"), user_table.c.name
    ).order_by(user_table.c.name)
)

print(stmt)

SELECT 'some phrase', user_account.name
FROM user_account ORDER BY user_account.name

In [41]:
with engine.connect() as conn:
    print(conn.execute(stmt).all())

[('some phrase', 'patrick'), ('some phrase', 'sandy'), ('some phrase', 'spongebob')]

如果要为文本添加标签，不能使用`text`，要使用`literal_column`:

In [51]:
from sqlalchemy import literal_column

stmt = (
    select(
        literal_column("'some phrase'").label("p"), user_table.c.name
    ).order_by(user_table.c.name)
)

with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.p} - {row.name}")

some phrase - patrick
some phrase - sandy
some phrase - spongebob

#### WHERE从句

有好几种方式可以定义where从句：

In [12]:
# 链式，只能是and关系
print(
    select(address_table.c.email_address).
    where(user_table.c.name == 'squidward').
    where(address_table.c.user_id == user_table.c.id)
)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [29]:
# 多个表达式做参数，也只能是and关系
print(
    select(address_table.c.email_address).
    where(
         user_table.c.name == 'squidward',
         address_table.c.user_id == user_table.c.id
    )
)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [18]:
# 复杂的逻辑关系，使用and_和or_方法
from sqlalchemy import and_, or_
print(
    select(Address.email_address).
    where(
        and_(
            or_(User.name == 'squidward', User.name == 'sandy'),
            Address.user_id == User.id
        )
    )
)

SELECT address.email_address
FROM address, user_account
WHERE (user_account.name = :name_1 OR user_account.name = :name_2) AND address.user_id = user_account.id

如果仅仅只是相等关系，有一个快捷方法`filter_by`，注意`filter_by`接受的是关键字参数而不是表达式：

In [16]:
print(
    select(User).filter_by(name='spongebob', fullname='Spongebob Squarepants')
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1 AND user_account.fullname = :fullname_1

#### 显式FROM从句和JOINS

通常情况下，不需要显式书写FROM从句，sqlalchemy会根据COLUMN的内容自动推断：

In [30]:
print(select(user_table.c.name, address_table.c.email_address))

SELECT user_account.name, address.email_address
FROM user_account, address

但如果是JOIN从句，需要显式的指定：

In [31]:
print(
    select(user_table.c.name, address_table.c.email_address).
    join_from(user_table, address_table)
)

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

`join_from`明确指定了左表和右表，也可以使用`join`方法，只需要指定右表，左表会自动推断出来：

In [32]:
print(
    select(user_table.c.name, address_table.c.email_address).
    join(address_table)
)

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

注意，因为有外键约束，所以ON从句此时也是自动推断出来的。

除此之外，还有一些情况需要我们显式指定FROM从句，此时可以使用`select_from`方法，比如:

In [35]:
from sqlalchemy import func
print (
    select(func.count('*')).select_from(user_table)
)

SELECT count(:count_2) AS count_1
FROM user_account

##### 设置ON从句

如果两个表之间没有外键约束或者有多个约束，则需要明确的指定约束条件，和WHERE一样，只需要把表达式作为第二个参数传入`join`或者`join_from`即可：

In [61]:
print(
    select(address_table.c.email_address).
    select_from(user_table).  # 可以省略，会自动推断
    join(address_table, user_table.c.id == address_table.c.user_id)
)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

##### OUTER和FULL join

通过join的参数来设置outer join和full join，sqlalchemy只有left join，没有right join，调换两个表的位置即可：

In [46]:
print(
    select(user_table).join(address_table, isouter=True)
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account LEFT OUTER JOIN address ON user_account.id = address.user_id

In [48]:
print(
    select(user_table).join(address_table, full=True)
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account FULL OUTER JOIN address ON user_account.id = address.user_id

默认都是`False`，渲染出来就是普通的join，left join就是`isouter`为`True`,left outer join就是left join。

#### ORDER BY, GROUP BY, HAVING

##### orderby

order by直接调用select对象的order_by方法即可，参数为列对象，调用列对象的`asc`或者`desc`方法决定升序还是降序，可以传入多个参数：

In [52]:
print(select(user_table).order_by(user_table.c.name.desc())

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.name DESC, user_account.id

##### 聚合函数和GROUP BY/HAVING

groupby和having没什么好说的，就是having还没有太弄懂，后期补充：

In [57]:
with engine.connect() as conn:
    stmt = select(User.name,
                  func.count(
                      Address.id).label("count")).join(Address).group_by(
                          User.name).having(func.count(Address.id) > 1)
    print(stmt)
    result = conn.execute(stmt)
    print(result.all())

SELECT user_account.name, count(address.id) AS count
FROM user_account JOIN address ON user_account.id = address.user_id GROUP BY user_account.name
HAVING count(address.id) > :count_1
[]

##### order或者group从句中引用标签

如果为`count`结果添加了标签，groupby或者order中引用的话，可以直接使用字符串引用，降序的话可使用`desc`函数：

In [69]:
from sqlalchemy import func, desc
stmt = select(
        Address.user_id,
        func.count(Address.id).label('num_addresses')).\
        group_by("user_id").order_by("user_id", desc("num_addresses"))
print(stmt)

SELECT address.user_id, count(address.id) AS num_addresses
FROM address GROUP BY address.user_id ORDER BY address.user_id, num_addresses DESC

#### 使用别名

有时候要给整个表起别名，比如自己和自己join，如果是core方式，直接调用table对象的`alias`方法：

In [70]:
user_alias_1 = user_table.alias()
user_alias_2 = user_table.alias()
print(
    select(user_alias_1.c.name, user_alias_2.c.name).
    join_from(user_alias_1, user_alias_2, user_alias_1.c.id > user_alias_2.c.id)
)

SELECT user_account_1.name, user_account_2.name AS name_1
FROM user_account AS user_account_1 JOIN user_account AS user_account_2 ON user_account_1.id > user_account_2.id

##### ORM实体对象的别名

orm的话，直接调用sqlalchemy.orm的`alias`方法：

In [71]:
from sqlalchemy.orm import aliased
address_alias_1 = aliased(Address)
address_alias_2 = aliased(Address)
print(
    select(User).
    join_from(User, address_alias_1).
    where(address_alias_1.email_address == 'patrick@aol.com').
    join_from(User, address_alias_2).
    where(address_alias_2.email_address == 'patrick@gmail.com')
)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account JOIN address AS address_1 ON user_account.id = address_1.user_id JOIN address AS address_2 ON user_account.id = address_2.user_id
WHERE address_1.email_address = :email_address_1 AND address_2.email_address = :email_address_2

#### 子查询和CTEs（公共表表达式）

子查询的使用的套路是，先调用select对象的`subquery`或者`cte`方法定义一个字查询或者cte，然后就可以在外层select中使用了：

In [72]:
subq = select(
    func.count(address_table.c.id).label("count"),
    address_table.c.user_id
).group_by(address_table.c.user_id).subquery()

In [73]:
print(select(subq.c.user_id, subq.c.count))

SELECT anon_1.user_id, anon_1.count
FROM (SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id) AS anon_1

可以视子查询为一个表，其列名根据子查询的select从句推断得出。

##### 公共表表达式（CTEs）

cte完全可以视为和子查询一样的东西，但是渲染出来的sql语句有很大不同，cte使用的是with从句：

In [76]:
subq = select(
    func.count(address_table.c.id).label("count"),
    address_table.c.user_id
).group_by(address_table.c.user_id).cte()

In [77]:
print(subq)

SELECT count(address.id) AS count, address.user_id
FROM address GROUP BY address.user_id

In [78]:
stmt = select(
   user_table.c.name,
   user_table.c.fullname,
   subq.c.count
).join_from(user_table, subq)

print(stmt)

WITH anon_1 AS
(SELECT count(address.id) AS count, address.user_id AS user_id
FROM address GROUP BY address.user_id)
 SELECT user_account.name, user_account.fullname, anon_1.count
FROM user_account JOIN anon_1 ON user_account.id = anon_1.user_id

##### ORM实体子查询

当子查询select的不是具体的列而直接是模型类时，需要使用`aliased`方法为其指定一个别名，且第一个参数需要是一个模型类：

In [96]:
subq = select(Address).where(~Address.email_address.like('%@aol.com')).subquery()
address_subq = aliased(Address, subq)  # 为什么别名第一个参数需要是Attress类？
stmt = select(User, address_subq).join_from(User, address_subq).order_by(User.id, address_subq.id)

In [98]:
subq.c.keys()

['id', 'email_address', 'user_id']

如上所述，`subquery()`返回一个带有FromClause.c集合的Subquery对象，可以在外围的Select()中引用它，但是不能把子查询对象当成模型类直接使用，比如：

In [88]:
address_subq = aliased(subq)
try:
    stmt = select(User, address_subq).join_from(User, address_subq).order_by(User.id, address_subq.id)
except Exception as e:
    print(e)  # 不出意外报错了，别名对象没有id属性

'CTE' object has no attribute 'id'

因此，在ORM中，我们操作的是模型类，别名既然只是另一个名字，显然它也需要对应一个orm实体。`aliased`的第一个参数就是指定这样一个orm实体，第二个参数指定子查询。整个过程可以这样理解，子查询代表一些行的集合，而这些行的集合对应一个orm模型，最后为这个模型起一个别名。

#### 标量和关联子查询

子查询平时用的不多，可以先看看下面这篇文章：
- [sql子查询](https://blog.csdn.net/qq_27623337/article/details/52814235)

关联子查询不是很好理解，当子查询在嵌入一个复杂的查询中，如下：

In [41]:
subq = select(func.count(address_table.c.id)).where(user_table.c.id == address_table.c.user_id).scalar_subquery()
print(subq)

(SELECT count(address.id) AS count_1
FROM address, user_account
WHERE user_account.id = address.user_id)

In [42]:
stmt = select(
    user_table.c.name,
    address_table.c.email_address,
    subq.label("address_count")
).join_from(user_table, address_table).order_by(user_table.c.id, address_table.c.id)

try:
    print(stmt)
except Exception as e:
    print(e)

Select statement '<sqlalchemy.sql.selectable.Select object at 0x00000222E1D32130>' returned no FROM clauses due to auto-correlation; specify correlate(<tables>) to control correlation manually.

此时会报错，提示自动关联没法生成子查询的from从句，即`FROM address, user_account`，首先看没有子查询时生成的sql语句：

In [43]:
stmt = select(
    user_table.c.name,
    address_table.c.email_address,
).join_from(user_table, address_table).order_by(user_table.c.id, address_table.c.id)

print(stmt)

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id ORDER BY user_account.id, address.id

此时，主查询语句from从句包含表user_acount，同时join从句包含表address。所谓的`correlate`就是指明子查询from从句里哪一张表关联主查询的表，比如：

In [89]:
subq = select(func.count(address_table.c.id)).where(
    user_table.c.id == address_table.c.user_id).scalar_subquery().correlate(
        user_table)

In [50]:
stmt = select(
    user_table.c.name,
    address_table.c.email_address,
    subq.label("address_count")
).join_from(user_table, address_table).order_by(user_table.c.id, address_table.c.id)
print(stmt)

SELECT user_account.name, address.email_address, (SELECT count(address.id) AS count_1
FROM address
WHERE user_account.id = address.user_id) AS address_count
FROM user_account JOIN address ON user_account.id = address.user_id ORDER BY user_account.id, address.id

user_table关联主查询的user_table表，则子查询里面只剩下address_table，可以关联多张表：

In [51]:
subq = select(func.count(address_table.c.id)).where(
    user_table.c.id == address_table.c.user_id).scalar_subquery().correlate(
        user_table, address_table)

In [53]:
stmt = select(
    user_table.c.name,
    address_table.c.email_address,
    subq.label("address_count")
).join_from(user_table, address_table).order_by(user_table.c.id, address_table.c.id)
print(stmt)

SELECT user_account.name, address.email_address, (SELECT count(address.id) AS count_1
WHERE user_account.id = address.user_id) AS address_count
FROM user_account JOIN address ON user_account.id = address.user_id ORDER BY user_account.id, address.id

此时子查询甚至不需要from从句，但是这种情况下，搜索结果是否正确未知，子查询关联还是没有理解透彻，为什么from join时，无法自动关联呢？要彻底理解，可能还涉及到sql语句执行顺序，这里有一些可供参考：
- [The 6 Steps of a SQL Select Statement Process](https://towardsdatascience.com/the-6-steps-of-a-sql-select-statement-process-b3696a49a642)
- [SQL Subqueries](https://www.w3resource.com/sql/subqueries/understanding-sql-subqueries.php)

#### UNION、UNION ALL等集合操作

In [79]:
from sqlalchemy import union_all
stmt1 = select(user_table).where(user_table.c.name == 'sandy')
stmt2 = select(user_table).where(user_table.c.name == 'spongebob')
u = union_all(stmt1, stmt2)
with engine.connect() as conn:
    result = conn.execute(u)
    print(result.all())

[(2, 'sandy', 'Sandy Cheeks'), (1, 'spongebob', 'spongebob Squarepants')]

union返回的是一个CompoundSelect复合select对象，复合select对象仍然可以作为子查询：

In [93]:
u_subq = u.subquery()
stmt = (
    select(u_subq.c.name, address_table.c.email_address).
    join_from(address_table, u_subq).
    order_by(u_subq.c.name, address_table.c.email_address)
)
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(result.all())

[('sandy', 'sandy@aol.com'), ('spongebob', 'spongebob@aol.com')]

##### 从union中选择orm实体

复合select对象有个问题，直接execute的时候，返回的是元组而不是orm实体：

In [11]:
stmt1 = select(User).where(User.name == 'sandy')
stmt2 = select(User).where(User.name == 'spongebob')
u = union_all(stmt1, stmt2)

with Session(engine) as session:
    for obj in session.execute(u):
        print(obj)

(2, 'sandy', 'Sandy Cheeks')
(1, 'spongebob', 'spongebob Squarepants')

如果要返回实体，需要多做一步：

In [14]:
orm_stmt = select(User).from_statement(u)

with Session(engine) as session:
    for obj in session.execute(orm_stmt).scalars():
        print(obj)

User(id=2, name='sandy', fullname='Sandy Cheeks')
User(id=1, name='spongebob', fullname='spongebob Squarepants')

还有一种方法，就是把复合select对象当作子查询，就可以直接使用`aliased`方法：

In [12]:
user_alias = aliased(User, u.subquery())
orm_stmt = select(user_alias).order_by(user_alias.id)

with Session(engine) as session:
    for obj in session.execute(orm_stmt).scalars():
        print(obj)

User(id=1, name='spongebob', fullname='spongebob Squarepants')
User(id=2, name='sandy', fullname='Sandy Cheeks')

#### EXSITS子查询

`exists`直接接子查询对象后，注意没有`not_exists`方法，直接使用`~`对子查询取反即可：

In [17]:
subq = (
    select(address_table.c.id).
    where(user_table.c.id == address_table.c.user_id)
).exists()

with engine.connect() as conn:
    result = conn.execute(
        select(user_table.c.name).where(~subq)
    )
    print(result.all())

[]

#### SQL函数

SQL函数有很多内容平时用的比较少，官方教程不是很理解，留待以后补充。

- [官方文档](https://docs.sqlalchemy.org/en/14/tutorial/data_select.html#working-with-sql-functions)

### 使用core更新或删除行

#### `update()`SQL表达式

通用结构是`update().where().values()`，注意values接收的是关键字参数，形参直接是列名:

In [31]:
from sqlalchemy import update
stmt = (
    update(user_table).where(user_table.c.name == 'patrick').
    values(fullname='Patrick the Star')
)
print(stmt)

UPDATE user_account SET fullname=:fullname WHERE user_account.name = :name_1

批量更新可能会用到`bindparam`方法：

In [33]:
from sqlalchemy import bindparam

stmt = (update(user_table).where(
    user_table.c.name == bindparam('oldname')).values(
        name=bindparam('newname')))
with engine.begin() as conn:
    conn.execute(stmt, [
        {
            'oldname': 'jack',
            'newname': 'ed'
        },
        {
            'oldname': 'wendy',
            'newname': 'mary'
        },
        {
            'oldname': 'jim',
            'newname': 'jake'
        },
    ])

##### 关联更新

update可以使用子查询，注意此时使用`scalar_subquery`而不是`subquery`创建子查询，`scalar_subquery`最终返回的是标量而不是集合：

In [36]:
scalar_subq = (
  select(address_table.c.email_address).
  where(address_table.c.user_id == user_table.c.id).
  order_by(address_table.c.id).
  limit(1).
  scalar_subquery()
)
update_stmt = update(user_table).values(fullname=scalar_subq)
print(update_stmt)

UPDATE user_account SET fullname=(SELECT address.email_address
FROM address
WHERE address.user_id = user_account.id ORDER BY address.id
 LIMIT :param_1)

##### UPDATE...FROM

还有一种MySQL特定的语法可以更新多个表，此时需要在values中包含其它的表：

In [37]:
update_stmt = (
   update(user_table).
   where(user_table.c.id == address_table.c.user_id).
   where(address_table.c.email_address == 'patrick@aol.com').
   values(
       {
           user_table.c.fullname: "Pat",
           address_table.c.email_address: "pat@aol.com"
       }
   )
 )

from sqlalchemy.dialects import mysql
print(update_stmt.compile(dialect=mysql.dialect()))

UPDATE user_account, address SET address.email_address=%s, user_account.fullname=%s WHERE user_account.id = address.user_id AND address.email_address = %s

注意和直接生成的sql的区别：

In [38]:
print(update_stmt)

UPDATE user_account SET email_address=:address_email_address, fullname=:fullname FROM address WHERE user_account.id = address.user_id AND address.email_address = :email_address_1

##### 有序参数

还有一个mysql独有的行为是参数的顺序会影响最终更新的值，因此可以使用`ordered_values`方法，它接收元组：

```python
update_stmt = (
    update(some_table).
    ordered_values(
        (some_table.c.y, 20),
        (some_table.c.x, some_table.c.y + 10)
    )
)
```

#### `delete()`SQL表达式

mysql有特殊的语法可以删除多表，使用的是`USING`关键字：

In [42]:
delete_stmt = (
   delete(user_table).
   where(user_table.c.id == address_table.c.user_id).
   where(address_table.c.email_address == 'patrick@aol.com')
 )
from sqlalchemy.dialects import mysql
print(delete_stmt.compile(dialect=mysql.dialect()))

DELETE FROM user_account USING user_account, address WHERE user_account.id = address.user_id AND address.email_address = %s

#### 获取UPDATE，DELETE受影响的行

execute返回对象的rowcount属性表示受影响的行：

In [43]:
with engine.begin() as conn:
    result = conn.execute(
        update(user_table).
        values(fullname="Patrick McStar").
        where(user_table.c.name == 'patrick')
    )
    print(result.rowcount)

1

##### RETRUNING从句

和insert一样，update和delete支持returning从句，从满足WHERE从句的行中选择列，并返回一个可迭代对象：

In [44]:
update_stmt = (
    update(user_table).where(user_table.c.name == 'patrick').
    values(fullname='Patrick the Star').
    returning(user_table.c.id, user_table.c.name)
)
print(update_stmt)


delete_stmt = (
    delete(user_table).where(user_table.c.name == 'patrick').
    returning(user_table.c.id, user_table.c.name)
)
print(delete_stmt)

UPDATE user_account SET fullname=:fullname WHERE user_account.name = :name_1 RETURNING user_account.id, user_account.name
DELETE FROM user_account WHERE user_account.name = :name_1 RETURNING user_account.id, user_account.name

## 使用ORM操作数据

### 使用ORM插入行

#### 类实例表示行

In [45]:
squidward = User(name="squidward", fullname="Squidward Tentacles")
krabs = User(name="ehkrabs", fullname="Eugene H. Krabs")

此时，主键id为`None`，实例并未写入数据库，此时的状态被称作transient：

In [46]:
squidward

User(id=None, name='squidward', fullname='Squidward Tentacles')

#### 添加到session

In [9]:
session = Session(engine)

add以后，状态变为pending，此时仍然没有插入数据库：

In [48]:
session.add(squidward)
session.add(krabs)

当处于pending状态，可以调用`session.new`属性，查看状态：

In [49]:
session.new

IdentitySet([User(id=None, name='squidward', fullname='Squidward Tentacles'), User(id=None, name='ehkrabs', fullname='Eugene H. Krabs')])

#### flush

flush启动一个事务：

In [50]:
session.flush()

此时事务仍然保持开启状态，直到执行了`Session.commit()`, `Session.rollback()`, `Session.close()`等方法。注意，此时仍然未写入数据库，只是将数据发送到数据库的缓存，直到执行`commit`才会真正写入数据库，但是此时主键已经被分配。

In [ ]:
session.commit()

#### 自动生成的主键属性

当行被插入(执行了flush之后)，此时实例的状态被称为persistent，实例会自动分配主键：

In [52]:
krabs.id

5

注意，使用orm模式插入时，总是一行一行的插入，因为sqlite如果要获取主键，只能一次插入一行。如果创建实例时，我们提前分配了主键，sqlalchemy会进行优化，批量插入多行。有些数据库允许批量插入，并且能够返回每一行的主键。

#### 标志映射

所谓标志映射就是把主键、ORM实例以及数据库中的行关联对应起来，保存在内存中的一个映射。只要知道主键，可以使用`get`方法获取实例，替代`select`：

In [63]:
session.get(User, 5)

User(id=5, name='ehkrabs', fullname='Eugene H. Krabs')

### 更新ORM对象

更新orm对象有两种方式，一种是在分配了主键的orm实例上直接修改：

In [248]:
sandy = session.execute(select(User).filter_by(name="sandy")).scalar_one()
sandy

User(id=2, name='sandy', fullname='Sandy Cheeks')

In [249]:
sandy.fullname = "Sandy Squirrel"

In [250]:
sandy.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1fda9135a30>,
 'name': 'sandy',
 'id': 2,
 'fullname': 'Sandy Squirrel'}

修改以后的实例保存在session的dirty属性中，而不是new属性：

In [244]:
session.dirty

IdentitySet([User(id=2, name='sandy', fullname='Sandy Squirrel')])

In [215]:
sandy in session.dirty

True

当执行`flush`时，会写入数据库。但是sqlalchemy有自动刷新的机制，当接下来执行任何select语句，前面的所有更改都会自动flush。所以select获取的是更改后的实例：

In [251]:
sandy_fullname = session.execute(
    select(User.fullname).where(User.id == 2)
).scalar_one()


print(sandy_fullname)

Sandy Squirrel

注意，此时并未commit，数据库里实际的值是Sandy Cheeks而不是Sandy Squirrel。可见，select是从数据库缓存中获取值。此时，已经自动flush：

In [217]:
sandy in session.dirty

False

#### UPDATE语句

orm还可以直接使用update语句，这种方式可以一次更新多行：

In [218]:
session.execute(
    update(User).
    where(User.name == "sandy").
    values(fullname="Sandy Squirrel Extraordinaire")
)

In [219]:
sandy.fullname

'Sandy Squirrel Extraordinaire'

注意，此时仍然是flush，执行commit以后才会永久存储到数据库。

### 删除ORM对象

In [220]:
patrick = session.get(User, 3)

In [221]:
session.commit()

delete仍然在映射中，处于pending状态，直到flush：

In [222]:
session.delete(patrick)

直接`in session`也可以：

In [224]:
patrick in session

False

调用select会自动flush，所以返回为空:

In [225]:
session.execute(select(User).where(User.name == "patrick")).first()

flush以后，实例从映射中删除：

In [226]:
patrick in session

False

此时并未真正从数据库删除，调用rollback可以还原，或者执行commit写入数据库。

#### DELETE语句

和update一样，可以使用delete语句：

In [227]:
squidward = session.get(User, 4)

In [228]:
session.execute(delete(User).where(User.name == "squidward"))

In [229]:
sandy in session

True

execute会自动flush:

In [230]:
squidward in session

False

### 回滚

注意，执行rollback，不仅会撤销所有的更改操作，而且会将和session关联的orm实例标记为过期：

In [264]:
sandy = session.get(User, 2)

In [265]:
sandy.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1fda9135a30>,
 'name': 'sandy',
 'id': 2,
 'fullname': 'Sandy Cheeks'}

In [281]:
sandy.fullname = 'Sandy Squirrel'

In [283]:
session.flush()

In [284]:
session.rollback()

sandy此时会被标记为过期，其`__dict__`属性不包含`name`,`id`等属性：

In [285]:
sandy.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1fda9135a30>}

此时，如果访问sandy任意属性，会开启一个新的事务并且重新刷新实例：

In [286]:
sandy.fullname

'Sandy Cheeks'

In [287]:
sandy.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1fda9135a30>,
 'name': 'sandy',
 'id': 2,
 'fullname': 'Sandy Cheeks'}

删除了的实例也被恢复：

In [288]:
patrick in session

True

也如预期一样，可以从数据库查询到该实例：

In [289]:
session.execute(select(User).where(User.name == 'patrick')).scalar_one() is patrick

True

### 关闭session

关闭session，会完成以下几件事：
- 释放所有连接资源到连接池，取消(例如回滚)任何正在进行的事务。
- 从session中擦除所有实例。

In [333]:
patrick = session.get(User, 3)
patrick

User(id=3, name='patrick', fullname='Patrick McStar')

In [334]:
patrick in session

True

In [335]:
session.close()

此时实例从session中擦除：

In [336]:
patrick in session

False

但是实例本身还在，只不过处于detached的状态，即没有和任何session关联。可以重新开启一个连接，并把实例添加到session：

In [338]:
session.add(patrick)  # session重新从连接池拿到一个新的连接，并把实例关联到自身

In [339]:
patrick in session

True

注意，如果是一个过期的实例，关闭session以后，访问实例的属性此时不会访问数据库刷新（因为所有连接已经被关闭了），而是会抛出错误。

## 使用相关对象

### 持久化和加载关系

In [41]:
u1 = User(name='pkrabs', fullname='Pearl Krabs')
u1.addresses

[]

In [42]:
a1 = Address(email_address="pearl.krabs@gmail.com")
u1.addresses.append(a1)

In [43]:
u1.addresses

[Address(id=None, email_address='pearl.krabs@gmail.com')]

In [44]:
a1.user

User(id=None, name='pkrabs', fullname='Pearl Krabs')

也可以从另外一个方向，分配两者之间的关系：

In [45]:
a2 = Address(email_address="pearl@aol.com", user=u1)
u1.addresses

[Address(id=None, email_address='pearl.krabs@gmail.com'),
 Address(id=None, email_address='pearl@aol.com')]

等效于：

In [46]:
a2.user = u1

#### 对象级联到会话

关联对象，只要把其中一方添加到会话，另一方也自动被添加到会话：

In [47]:
session = Session(engine)
session.add(u1)

In [48]:
u1 in session

True

In [49]:
a1 in session

True

In [50]:
a2 in session

True

现在这3个对象均处于pending状态，u1的主键为None，address的user_id值也为None，因为并未flush到数据库中，没有分配值：

In [51]:
print(u1.id)

None

In [52]:
print(a1.user_id)

None

commit的时候，会以正确的顺序写入数据库：

In [53]:
session.commit()

2022-04-11 22:30:41,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-11 22:30:41,256 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2022-04-11 22:30:41,257 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ('pkrabs', 'Pearl Krabs')
2022-04-11 22:30:41,261 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (?, ?)
2022-04-11 22:30:41,261 INFO sqlalchemy.engine.Engine [generated in 0.00056s] ('pearl.krabs@gmail.com', 7)
2022-04-11 22:30:41,262 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (?, ?)
2022-04-11 22:30:41,263 INFO sqlalchemy.engine.Engine [cached since 0.001947s ago] ('pearl@aol.com', 7)
2022-04-11 22:30:41,263 INFO sqlalchemy.engine.Engine COMMIT

### 加载关联关系

当我们commit时，所有的对象被设置为过期：

In [54]:
u1.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1e6dd12c5e0>}

再次读取时，会自动开启事务，刷新对象的值：

In [55]:
u1  # 可以看到，此时开启了新的事务，连接了数据库，重新获取u1的值

2022-04-11 22:33:19,682 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-11 22:33:19,683 INFO sqlalchemy.engine.Engine SELECT user_account.id AS user_account_id, user_account.name AS user_account_name, user_account.fullname AS user_account_fullname
FROM user_account
WHERE user_account.id = ?
2022-04-11 22:33:19,684 INFO sqlalchemy.engine.Engine [cached since 180.7s ago] (7,)

User(id=7, name='pkrabs', fullname='Pearl Krabs')

In [56]:
u1.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1e6dd12c5e0>,
 'name': 'pkrabs',
 'id': 7,
 'fullname': 'Pearl Krabs'}

注意，由于懒加载机制，此时u1关联的对象并未加载，只有访问其属性时，才会读取数据库加载：

In [57]:
u1.addresses

2022-04-11 22:36:15,958 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE ? = address.user_id
2022-04-11 22:36:15,959 INFO sqlalchemy.engine.Engine [generated in 0.00093s] (7,)

[Address(id=5, email_address='pearl.krabs@gmail.com'),
 Address(id=6, email_address='pearl@aol.com')]

一旦读取到内存，就相当于读入缓存，直到对象过期。

### 查询中使用关系

#### 利用关系进行连接

当设置了relationship时候，我们可以通过关系来指定join的参数，如下：

In [58]:
print(
    select(Address.email_address).
    select_from(User).
    join(User.addresses)  # 注意使用的是User.addresses而不是Address
)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

当然，也可以直接使用模型类:

In [63]:
print(
    select(Address.email_address).
    select_from(User).
    join(Address)  # 注意使用的是User.addresses而不是Address
)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

注意，上面的例子，是因为有外键约束，所以我们可以推断出ON字句而不是因为我们定义了relationship。

#### 别名目标之间的连接

我们可以给orm实体类起一个别名，但是使用关联关系join其它实体类时，需要使用`of_type`才能使用这个别名：

In [66]:
from sqlalchemy.orm import aliased

address_alias_1 = aliased(Address)
address_alias_2 = aliased(Address)

print(
       select(User).
       join(User.addresses.of_type(address_alias_1)).
       where(address_alias_1.email_address == 'patrick@aol.com').
       join(User.addresses.of_type(address_alias_2)).
       where(address_alias_2.email_address == 'patrick@gmail.com')
   )

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account JOIN address AS address_1 ON user_account.id = address_1.user_id JOIN address AS address_2 ON user_account.id = address_2.user_id
WHERE address_1.email_address = :email_address_1 AND address_2.email_address = :email_address_2

#### 增强的ON标准

使用relationship join关联表,如果是复杂的条件，写法也不一样，如下：

In [9]:
session = Session(engine)

stmt = (
  select(User.fullname).
  join(User.addresses.and_(Address.email_address == 'pearl.krabs@gmail.com'))
)
session.execute(stmt).all()

2022-04-12 21:56:05,350 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-12 21:56:05,352 INFO sqlalchemy.engine.Engine SELECT user_account.fullname
FROM user_account JOIN address ON user_account.id = address.user_id AND address.email_address = ?
2022-04-12 21:56:05,353 INFO sqlalchemy.engine.Engine [generated in 0.00061s] ('pearl.krabs@gmail.com',)

[('Pearl Krabs',), ('Pearl Krabs',)]

#### EXISTS forms: has() / any()

使用relationship关联表，使where exsit子查询更简单：

In [10]:
stmt = (
  select(User.fullname).
  where(User.addresses.any(Address.email_address == 'pearl.krabs@gmail.com'))
)
session.execute(stmt).all()

2022-04-12 22:13:30,391 INFO sqlalchemy.engine.Engine SELECT user_account.fullname
FROM user_account
WHERE EXISTS (SELECT 1
FROM address
WHERE user_account.id = address.user_id AND address.email_address = ?)
2022-04-12 22:13:30,392 INFO sqlalchemy.engine.Engine [generated in 0.00137s] ('pearl.krabs@gmail.com',)

[('Pearl Krabs',), ('Pearl Krabs',)]

In [11]:
stmt = (
  select(User.fullname).
  where(~User.addresses.any())
)
session.execute(stmt).all()

2022-04-12 22:16:16,080 INFO sqlalchemy.engine.Engine SELECT user_account.fullname
FROM user_account
WHERE NOT (EXISTS (SELECT 1
FROM address
WHERE user_account.id = address.user_id))
2022-04-12 22:16:16,084 INFO sqlalchemy.engine.Engine [generated in 0.00183s] ()

[('Patrick McStar',), ('Squidward Tentacles',), ('Eugene H. Krabs',)]

has和any基本一样，除了多对一关系时，使用has，而不是any：

In [14]:
stmt = (
  select(Address.email_address).
  where(Address.user.has(User.name=="pkrabs"))
)
session.execute(stmt).all()

2022-04-12 22:21:38,080 INFO sqlalchemy.engine.Engine SELECT address.email_address
FROM address
WHERE EXISTS (SELECT 1
FROM user_account
WHERE user_account.id = address.user_id AND user_account.name = ?)
2022-04-12 22:21:38,080 INFO sqlalchemy.engine.Engine [cached since 33.48s ago] ('pkrabs',)

[('pearl.krabs@gmail.com',),
 ('pearl@aol.com',),
 ('pearl.krabs@gmail.com',),
 ('pearl@aol.com',)]

#### 常见的关系操作符

有一些常见的关系操作，注意第一个和第三个其实是一样的，只是理解问题角度不同：
- 多对一相等操作：
```python
print(select(Address).where(Address.user == u1))  # 不等为!=,地址关联的用户为某个特定的用户
```
- 对象在一对多集合中：
```python
print(select(User).where(User.addresses.contains(a1)))  # 用户关联的地址不包含某个特定的地址
```
- 一对多的角度看，多的一方有某个特定的一的一方的实例：
```python
from sqlalchemy.orm import with_parent
print(select(Address).where(with_parent(u1, User.addresses)))  # 用户关联的地址均属于某个特定的用户
```

### 加载策略

懒加载可能会带来很多问题，当内存中有大量的orm实例，访问它的某些关联属性时，可能会发起大量的select查询。

有效使用ORM延迟加载的第一步是测试应用程序，打开SQL回显，并观察发出的SQL。如果有很多冗余的SELECT语句，它们看起来非常像可以更有效地整合到一个语句中，如果对于已经从Session分离出来的对象有不适当的负载发生，那么就应该考虑使用加载器策略。

正常情况下，访问关联属性会触发多条查询：

In [21]:
for user_obj in session.execute(select(User)).scalars():
    user_obj.addresses  # 懒加载，多条查询语句

2022-04-12 23:31:16,831 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
2022-04-12 23:31:16,847 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ()
2022-04-12 23:31:16,850 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE ? = address.user_id
2022-04-12 23:31:16,850 INFO sqlalchemy.engine.Engine [generated in 0.00039s] (1,)
2022-04-12 23:31:16,854 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE ? = address.user_id
2022-04-12 23:31:16,854 INFO sqlalchemy.engine.Engine [cached since 0.003685s ago] (2,)
2022-04-12 23:31:16,856 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE ? = address.user_id
2022-04-12 23:31:16,856 INFO sqlalchemy.engine.Engine [cached since 0.005852s ago] (3,)
2022-04-12 23:31:16,856 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE ? = address.user_id
2022-04-12 23:31:16,856 INFO sqlalchemy.engine.Engine [cached since 0.007866s ago] (4,)
2022-04-12 23:31:16,856 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE ? = address.user_id
2022-04-12 23:31:16,856 INFO sqlalchemy.engine.Engine [cached since 0.009661s ago] (5,)
2022-04-12 23:31:16,856 INFO sqlalchemy.engine.Engine SELECT address.id AS address_id, address.email_address AS address_email_address, address.user_id AS address_user_id
FROM address
WHERE ? = address.user_id
2022-04-12 23:31:16,856 INFO sqlalchemy.engine.Engine [cached since 0.01114s ago] (6,)

也可以在定义orm模型时指定：
```python
from sqlalchemy.orm import relationship
class User(Base):
    __tablename__ = 'user_account'

    addresses = relationship("Address", back_populates="user", lazy="selectin")
```

#### Selectin加载

在select statement后调用`Select.options()`来定制加载策略，Selectin会产生两条查询，适合一对多查询：

In [22]:
from sqlalchemy.orm import selectinload


for user_obj in session.execute(select(User).options(selectinload(User.addresses))).scalars():
    user_obj.addresses  # 此时不会触发懒加载，会一次性全部加载

2022-04-12 23:38:19,418 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
2022-04-12 23:38:19,418 INFO sqlalchemy.engine.Engine [cached since 585.2s ago] ()
2022-04-12 23:38:19,436 INFO sqlalchemy.engine.Engine SELECT address.user_id AS address_user_id, address.id AS address_id, address.email_address AS address_email_address
FROM address
WHERE address.user_id IN (?, ?, ?, ?, ?, ?, ?)
2022-04-12 23:38:19,437 INFO sqlalchemy.engine.Engine [cached since 585.2s ago] (1, 2, 3, 4, 5, 6, 7)

#### Joined加载

Joined加载使用join从句，产生一条语句，适合多对一查询：

In [23]:
from sqlalchemy.orm import joinedload
stmt = (
  select(Address).options(joinedload(Address.user, innerjoin=True)).order_by(Address.id)
)
for row in session.execute(stmt):
    print(f"{row.Address.email_address} {row.Address.user.name}")

2022-04-12 23:39:41,742 INFO sqlalchemy.engine.Engine SELECT address.id, address.email_address, address.user_id, user_account_1.id AS id_1, user_account_1.name, user_account_1.fullname
FROM address JOIN user_account AS user_account_1 ON user_account_1.id = address.user_id ORDER BY address.id
2022-04-12 23:39:41,742 INFO sqlalchemy.engine.Engine [generated in 0.00140s] ()
spongebob@aol.com spongebob
sandy@aol.com sandy
pearl.krabs@gmail.com pkrabs
pearl@aol.com pkrabs
pearl.krabs@gmail.com pkrabs
pearl@aol.com pkrabs

#### 显式连接+即时加载

当我们自己明确的使用了join语句，就不能再使用joined加载，否则会生成两个join语句，此时使用contains_eager：

In [26]:
from sqlalchemy.orm import contains_eager
stmt = (
  select(Address).
  join(Address.user).
  where(User.name == 'pkrabs').
  options(contains_eager(Address.user)).order_by(Address.id)
)
for row in session.execute(stmt):
    print(f"{row.Address.email_address} {row.Address.user.name}")

2022-04-12 23:51:38,566 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, address.id AS id_1, address.email_address, address.user_id
FROM address JOIN user_account ON user_account.id = address.user_id
WHERE user_account.name = ? ORDER BY address.id
2022-04-12 23:51:38,566 INFO sqlalchemy.engine.Engine [cached since 160.2s ago] ('pkrabs',)
pearl.krabs@gmail.com pkrabs
pearl@aol.com pkrabs
pearl.krabs@gmail.com pkrabs
pearl@aol.com pkrabs

#### 增强的加载策略

与增强的ON标准一样，加载也可以添加复杂的条件。`execution_options(populate_existing=True)`不是特别理解，初步理解是，orm读取模型实例只读取一次，下次再读取行时，不会更新已存于内存的模型实例。如果添加了`execution_options(populate_existing=True)`，则会强制性的更新已存实例。即更新一个User的时候，也更新一批Address。但是不加这个选项，会导致什么结果，目前不是很清楚，留待补充。

In [55]:
from sqlalchemy.orm import selectinload
stmt = (
  select(User).
  options(
      selectinload(
          User.addresses.and_(
            ~Address.email_address.endswith("sqlalchemy.org")
          )
      )
  ).
  order_by(User.id).execution_options(populate_existing=True)
)

orm方式可以使用`row.User`的方式引用模型实例：

In [56]:
for row in session.execute(stmt):
    print(f"{row.User.name}  ({', '.join(a.email_address for a in row.User.addresses)})")

2022-04-13 23:20:44,488 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account ORDER BY user_account.id
2022-04-13 23:20:44,489 INFO sqlalchemy.engine.Engine [cached since 3292s ago] ()
2022-04-13 23:20:44,490 INFO sqlalchemy.engine.Engine SELECT address.user_id AS address_user_id, address.id AS address_id, address.email_address AS address_email_address
FROM address
WHERE address.user_id IN (?, ?, ?, ?, ?, ?, ?) AND (address.email_address NOT LIKE '%' || ?)
2022-04-13 23:20:44,491 INFO sqlalchemy.engine.Engine [cached since 3292s ago] (1, 2, 3, 4, 5, 6, 7, 'sqlalchemy.org')
spongebob  (telecomshy@126.com)
sandy  (sandy@aol.com)
patrick  ()
squidward  ()
ehkrabs  ()
pkrabs  (pearl.krabs@gmail.com, pearl@aol.com)
pkrabs  (pearl.krabs@gmail.com, pearl@aol.com)

#### Raiseload

这个策略用来完全组织懒加载：
```python
class User(Base):
    __tablename__ = 'user_account'

    # ... Column mappings

    addresses = relationship("Address", back_populates="user", lazy="raise_on_sql")


class Address(Base):
    __tablename__ = 'address'

    # ... Column mappings

    user = relationship("User", back_populates="addresses", lazy="raise_on_sql")
```
当配置了`raise_on_sql`，当像下面这样调用时：
```python
u1 = s.execute(select(User)).scalars().first()
u1.addresses
```
会抛出错误：
```python
sqlalchemy.exc.InvalidRequestError: 'User.addresses' is not available due to lazy='raise_on_sql'
```
此时必须要指定加载策略才不会报错：
```python
u1 = s.execute(select(User).options(selectinload(User.addresses))).scalars().first()
```